openapi: 3.0.1
x-stoplight:
  id: e2dd35f0e728f
info:
  title: Decentralized FDA API
  description: A platform for quantifying the effects of every drug, supplement, food, and other factor on your health.
  contact:
    name: hello@quantimo.do
  license:
    name: GNU General Public License v3 (GPL-3)
    url: 'https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)'
  version: 0.0.1
servers:
  - url: 'https://app.quantimo.do/api'
    description: Production Server
tags:
  - name: units
    description: Available units for measurements
    externalDocs:
      description: See it in action
      url: 'https://web.quantimo.do/#/app/measurement-search?accessToken=demo'
  - name: variables
    description: 'Can be used for search auto-complete for data types like symptoms, foods and treatments and include statistics'
    externalDocs:
      description: Search for a variable
      url: 'https://web.quantimo.do/#/app/reminder-search?accessToken=demo'
  - name: measurements
    description: 'Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.'
    externalDocs:
      description: See it in action
      url: 'https://web.quantimo.do/#/app/history-all-category/Anything?accessToken=demo'
  - name: analytics
    description: Identify the strongest predictors of a given outcome and generate studies
    externalDocs:
      description: Try it out
      url: 'https://web.quantimo.do/#/app/predictor-search'
  - name: connectors
    description: Import data from third-party apps and devices like Fitbit and Mint.
    externalDocs:
      description: Import your data now
      url: 'https://web.quantimo.do/#/app/import'
  - name: reminders
    description: Users can be reminded to track certain variables at a specified frequency with a default value.
    externalDocs:
      description: See it in action
      url: 'https://web.quantimo.do/#/app/reminders-inbox?accessToken=demo'
  - name: user
    description: Get or update user info and settings
    externalDocs:
      description: See it in action
      url: 'https://web.quantimo.do/#/app/settings?accessToken=demo'
  - name: studies
    description: Automatically generated natural language studies examining the relationship between a predictor and outcome variable including charts.
    externalDocs:
      description: Search for a study
      url: 'https://web.quantimo.do/#/app/studies'
paths:
  /v3/units:
    get:
      tags:
        - units
      summary: Get units
      description: Get a list of the available measurement units
      operationId: getUnits
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: Array of units
                items:
                  $ref: '#/components/schemas/Unit'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/variables:
    get:
      tags:
        - variables
      summary: Get variables along with related user-specific analysis settings and statistics
      description: 'Get variables. If the user has specified variable settings, these are provided instead of the common variable defaults.'
      operationId: getVariables
      parameters:
        - $ref: '#/components/parameters/includeChartsParam'
        - $ref: '#/components/parameters/numberOfRawMeasurementsParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/variableCategoryNameParam'
        - name: name
          in: query
          description: 'Name of the variable. To get results matching a substring, add % as a wildcard as the first and/or last character of a query string parameter. In order to get variables that contain `Mood`, the following query should be used: ?variableName=%Mood%'
          schema:
            type: string
        - $ref: '#/components/parameters/variableNameParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/sourceNameParam'
        - $ref: '#/components/parameters/earliestMeasurementTimeParam'
        - $ref: '#/components/parameters/latestMeasurementTimeParam'
        - name: id
          in: query
          description: Common variable id
          schema:
            type: integer
        - $ref: '#/components/parameters/lastSourceParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/includePublicParam'
        - $ref: '#/components/parameters/manualTrackingParam'
        - $ref: '#/components/parameters/clientIdParam'
        - name: upc
          in: query
          description: UPC or other barcode scan result
          schema:
            type: string
        - $ref: '#/components/parameters/effectOrCauseParam'
        - $ref: '#/components/parameters/publicEffectOrCauseParam'
        - $ref: '#/components/parameters/exactMatchParam'
        - $ref: '#/components/parameters/variableCategoryIdParam'
        - $ref: '#/components/parameters/includePrivateParam'
        - $ref: '#/components/parameters/searchPhraseParam'
        - $ref: '#/components/parameters/synonymsParam'
        - $ref: '#/components/parameters/taggedVariableIdParam'
        - $ref: '#/components/parameters/tagVariableIdParam'
        - name: joinVariableId
          in: query
          description: 'Id of the variable you would like to get variables that can be joined to.  This is used to merge duplicate variables.   If joinVariableId is specified, this returns only variables eligible to be joined to the variable specified by the joinVariableId.'
          schema:
            type: integer
        - name: parentUserTagVariableId
          in: query
          description: 'Id of the parent category variable (i.e. Fruit) you would like to get eligible child sub-type variables (i.e. Apple) for.  Child variable measurements will be included in analysis of the parent variable.  For instance, a child sub-type of the parent category Fruit could be Apple.  When Apple is tagged with the parent category Fruit, Apple measurements will be included when Fruit is analyzed.'
          schema:
            type: integer
        - name: childUserTagVariableId
          in: query
          description: 'Id of the child sub-type variable (i.e. Apple) you would like to get eligible parent variables (i.e. Fruit) for.  Child variable measurements will be included in analysis of the parent variable.  For instance, a child sub-type of the parent category Fruit could be Apple. When Apple is tagged with the parent category Fruit, Apple measurements will be included when Fruit is analyzed.'
          schema:
            type: integer
        - name: ingredientUserTagVariableId
          in: query
          description: 'Id of the ingredient variable (i.e. Fructose)  you would like to get eligible ingredientOf variables (i.e. Apple) for.  IngredientOf variable measurements will be included in analysis of the ingredient variable.  For instance, a ingredientOf of variable Fruit could be Apple.'
          schema:
            type: integer
        - name: ingredientOfUserTagVariableId
          in: query
          description: 'Id of the ingredientOf variable (i.e. Apple) you would like to get eligible ingredient variables (i.e. Fructose) for.  IngredientOf variable measurements will be included in analysis of the ingredient variable.  For instance, a ingredientOf of variable Fruit could be Apple.'
          schema:
            type: integer
        - name: commonOnly
          in: query
          description: Return only public and aggregated common variable data instead of user-specific variables
          schema:
            type: boolean
        - name: userOnly
          in: query
          description: 'Return only user-specific variables and data, excluding common aggregated variable data'
          schema:
            type: boolean
        - $ref: '#/components/parameters/includeTagsParam'
        - $ref: '#/components/parameters/recalculate'
        - $ref: '#/components/parameters/variableIdParam'
        - $ref: '#/components/parameters/conciseParam'
        - name: refresh
          in: query
          description: Regenerate charts instead of getting from the cache
          schema:
            type: boolean
      responses:
        '200':
          description: Variables returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Variable'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
    post:
      tags:
        - variables
      summary: Update User Settings for a Variable
      description: 'Users can change the parameters used in analysis of that variable such as the expected duration of action for a variable to have an effect, the estimated delay before the onset of action. In order to filter out erroneous data, they are able to set the maximum and minimum reasonable daily values for a variable.'
      operationId: postUserVariables
      parameters:
        - $ref: '#/components/parameters/includePrivateParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/includePublicParam'
        - $ref: '#/components/parameters/searchPhraseParam'
        - $ref: '#/components/parameters/exactMatchParam'
        - $ref: '#/components/parameters/manualTrackingParam'
        - $ref: '#/components/parameters/variableCategoryNameParam'
        - $ref: '#/components/parameters/variableCategoryIdParam'
        - $ref: '#/components/parameters/synonymsParam'
      requestBody:
        $ref: '#/components/requestBodies/userVariablesParam'
      responses:
        '201':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: The received JSON was invalid or malformed
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Unknown target user ID
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/measurements:
    get:
      tags:
        - measurements
      summary: Get measurements for this user
      description: 'Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.'
      operationId: getMeasurements
      parameters:
        - $ref: '#/components/parameters/variableNameParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/variableCategoryNameParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/sourceNameParam'
        - $ref: '#/components/parameters/connectorNameParam'
        - $ref: '#/components/parameters/valueParam'
        - $ref: '#/components/parameters/unitNameParam'
        - $ref: '#/components/parameters/earliestMeasurementTimeParam'
        - $ref: '#/components/parameters/latestMeasurementTimeParam'
        - $ref: '#/components/parameters/createdAtParam'
        - name: id
          in: query
          description: Measurement id
          schema:
            type: integer
        - $ref: '#/components/parameters/groupingWidthParam'
        - $ref: '#/components/parameters/groupingTimezoneParam'
        - $ref: '#/components/parameters/doNotProcessParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/doNotConvertParam'
        - $ref: '#/components/parameters/minMaxFilterParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Measurement'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - readmeasurements
  /v3/measurements/post:
    post:
      tags:
        - measurements
      summary: Post a new set or update existing measurements to the database
      description: 'You can submit or update multiple measurements in a "measurements" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.'
      operationId: postMeasurements
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      requestBody:
        description: An array of measurement sets containing measurement items you want to insert.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MeasurementSet'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMeasurementsResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - writemeasurements
      x-codegen-request-body-name: body
  /v3/measurements/update:
    post:
      tags:
        - measurements
      summary: Update a measurement
      description: Update a previously submitted measurement
      operationId: updateMeasurement
      requestBody:
        description: 'The id as well as the new startTime, note, and/or value of the measurement to be updated'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementUpdate'
        required: true
      responses:
        '201':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/measurements/delete:
    delete:
      tags:
        - measurements
      summary: Delete a measurement
      description: Delete a previously submitted measurement
      operationId: deleteMeasurement
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - writemeasurements
      x-codegen-request-body-name: body
  /v3/appSettings:
    get:
      tags:
        - appSettings
      summary: Get client app settings
      description: 'Get the settings for your application configurable at https://builder.quantimo.do'
      operationId: getAppSettings
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/clientSecretParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSettingsResponse'
        '401':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
  /v2/spreadsheetUpload:
    post:
      tags:
        - measurements
      summary: Upload a spreadsheet with measurements
      description: 'Import from a spreadsheet containing a Variable Name, Value, Measurement Event Time, and Abbreviated Unit Name field.  Here is an <a href="https://bit.ly/2jz7CNl" target="_blank">example spreadsheet</a> with allowed column names, units and time format.'
      operationId: measurementSpreadsheetUpload
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                type: integer
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v2/measurements/exportRequest:
    post:
      tags:
        - measurements
      summary: Post Request for Measurements CSV
      description: Use this endpoint to schedule a CSV export containing all user measurements to be emailed to the user within 24 hours.
      operationId: measurementExportRequest
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                type: integer
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/connect/mobile:
    get:
      tags:
        - connectors
      summary: Mobile connect page
      description: 'This page is designed to be opened in a webview.  Instead of using popup authentication boxes, it uses redirection. You can include the user''s access_token as a URL parameter like https://api.quantimo.do/api/v3/connect/mobile?access_token=123'
      operationId: getMobileConnectPage
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      responses:
        '200':
          description: Mobile connect page was returned
          content: {}
        '401':
          description: User token is missing
          content: {}
        '403':
          description: User token is incorrect
          content: {}
  /v3/connectors/list:
    get:
      tags:
        - connectors
      summary: List of Connectors
      description: 'A connector pulls data from other data providers using their API or a screenscraper. Returns a list of all available connectors and information about them such as their id, name, whether the user has provided access, logo url, connection instructions, and the update history.'
      operationId: getConnectors
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectorsResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  '/v3/connectors/{connectorName}/connect':
    get:
      tags:
        - connectors
      summary: Obtain a token from 3rd party data source
      description: 'Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.'
      operationId: connectConnector
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/connectorNamePathParam'
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Method not found. Could not execute the requested method.
          content: {}
        '500':
          description: Error during update. Unsupported response from update().
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  '/v3/connectors/{connectorName}/disconnect':
    get:
      tags:
        - connectors
      summary: Delete stored connection info
      description: The disconnect method deletes any stored tokens or connection information from the connectors database.
      operationId: disconnectConnector
      parameters:
        - $ref: '#/components/parameters/connectorNamePathParam'
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Method not found. Could not execute the requested method.
          content: {}
        '500':
          description: Error during update. Unsupported response from update().
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  '/v3/connectors/{connectorName}/update':
    get:
      tags:
        - connectors
      summary: Sync with data source
      description: The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.
      operationId: updateConnector
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/connectorNamePathParam'
      responses:
        '200':
          description: Connection Successful
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Method not found. Could not execute the requested method.
          content: {}
        '500':
          description: Error during update. Unsupported response from update().
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/correlations:
    get:
      tags:
        - analytics
      summary: Get user_variable_relationships
      description: 'Get a list of user_variable_relationships that can be used to display top predictors of a given outcome like mood, for instance.'
      operationId: getCorrelations
      parameters:
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/correlationCoefficientParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/outcomesOfInterestParam'
        - $ref: '#/components/parameters/clientIdParam'
        - name: commonOnly
          in: query
          description: 'Return only public, anonymized and aggregated population data instead of user-specific variables'
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCorrelationsResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/deviceTokens:
    post:
      tags:
        - notifications
      summary: Post DeviceTokens
      description: 'Post user token for Android, iOS, or web push notifications'
      operationId: postDeviceToken
      requestBody:
        description: The platform and token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceToken'
        required: true
      responses:
        '201':
          description: Successful operation
          content: {}
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      x-codegen-request-body-name: body
  /v3/feed:
    get:
      tags:
        - feed
      summary: 'Tracking reminder notifications, messages, and study results'
      description: 'Tracking reminder notifications, messages, and study results'
      operationId: getFeed
      parameters:
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/createdAtParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/clientIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
    post:
      tags:
        - feed
      summary: Post user interactions with feed
      description: Post user actions on feed cards
      operationId: postFeed
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/clientIdParam'
      requestBody:
        description: Id of the tracking reminder notification to be snoozed
        content:
          application/json:
            schema:
              type: array
              description: Array of cards to take action on
              items:
                $ref: '#/components/schemas/Card'
        required: true
      responses:
        '201':
          description: Returns new feed cards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/integration.js:
    get:
      tags:
        - connectors
      summary: Get embeddable connect javascript
      description: |-
        Get embeddable connect javascript. Usage:
          - Embedding in applications with popups for 3rd-party authentication
        windows.
            Use `qmSetupInPopup` function after connecting `connect.js`.
          - Embedding in applications with popups for 3rd-party authentication
        windows.
            Requires a selector to block. It will be embedded in this block.
            Use `qmSetupOnPage` function after connecting `connect.js`.
          - Embedding in mobile applications without popups for 3rd-party
        authentication.
            Use `qmSetupOnMobile` function after connecting `connect.js`.
            If using in a Cordova application call  `qmSetupOnIonic` function after connecting `connect.js`.
      operationId: getIntegrationJs
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
      responses:
        '200':
          description: Embeddable connect javascript was returned
          content: {}
  /v3/notificationPreferences:
    get:
      tags:
        - notifications
      summary: Get NotificationPreferences
      description: Get NotificationPreferences
      operationId: getNotificationPreferences
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
  /oauth/authorize:
    get:
      tags:
        - authentication
      summary: Request Authorization Code
      description: You can implement OAuth2 authentication to your application using our **OAuth2** endpoints.  You need to redirect users to `/oauth/authorize` endpoint to get an authorization code and include the parameters below.   This page will ask the user if they want to allow a client's application to submit or obtain data from their QM account. It will redirect the user to the url provided by the client application with the code as a query parameter or error in case of an error. See the /oauth/access_token endpoint for the next steps.
      operationId: getOauthAuthorizationCode
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/clientSecretParam'
        - $ref: '#/components/parameters/responseTypeParam'
        - $ref: '#/components/parameters/scopeParam'
        - $ref: '#/components/parameters/redirectUriParam'
        - $ref: '#/components/parameters/stateParam'
      responses:
        '200':
          description: Successful Operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /oauth/token:
    get:
      tags:
        - authentication
      summary: Get a user access token
      description: 'Client provides authorization token obtained from /oauth/authorize to this endpoint and  receives an access token. Access token can then be used to query API endpoints. ### Request Access Token After user approves your access to the given scope form the https:/api.quantimo.do/oauth/authorize endpoint, you''ll receive an authorization code to request an access token. This time make a `POST` request to `/oauth/access_token` with parameters including: * `grant_type` Can be `authorization_code` or `refresh_token` since we are getting the `access_token` for the first time we don''t have a `refresh_token` so this must be `authorization_code`. * `code` Authorization code you received with the previous request. * `redirect_uri` Your application''s redirect url. ### Refreshing Access Token Access tokens expire at some point, to continue using our api you need to refresh them with `refresh_token` you received along with the `access_token`. To do this make a `POST` request to `/oauth/access_token` with correct parameters, which are: * `grant_type` This time grant type must be `refresh_token` since we have it. * `clientId` Your application''s client id. * `client_secret` Your application''s client secret. * `refresh_token` The refresh token you received with the `access_token`. Every request you make to this endpoint will give you a new refresh token and make the old one expired. So you can keep getting new access tokens with new refresh tokens. ### Using Access Token Currently we support 2 ways for this, you can''t use both at the same time. * Adding access token to the request header as `Authorization: Bearer {access_token}` * Adding to the url as a query parameter `?access_token={access_token}` You can read more about OAuth2 from [here](https://oauth.net/2/)'
      operationId: getAccessToken
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/clientSecretParam'
        - $ref: '#/components/parameters/grantTypeParam'
        - $ref: '#/components/parameters/codeParam'
        - $ref: '#/components/parameters/responseTypeParam'
        - $ref: '#/components/parameters/scopeParam'
        - $ref: '#/components/parameters/redirectUriParam'
        - $ref: '#/components/parameters/stateParam'
      responses:
        '200':
          description: Successful Operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/shares:
    get:
      tags:
        - shares
      summary: 'Get Authorized Apps, Studies, and Individuals'
      description: 'This is a list of individuals, apps, or studies with access to your measurements.'
      operationId: getShares
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/createdAtParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/appVersionParam'
        - $ref: '#/components/parameters/log'
        - $ref: '#/components/parameters/pwd'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSharesResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - writemeasurements
  /v3/shares/delete:
    post:
      tags:
        - shares
      summary: Delete share
      description: 'Remove access to user data for a given client_id associated with a given individual, app, or study'
      operationId: deleteShare
      parameters:
        - name: clientIdToRevoke
          in: query
          description: 'Client id of the individual, study, or app that the user wishes to no longer have access to their data'
          required: true
          schema:
            type: string
        - name: reason
          in: query
          description: 'Ex: I hate you!'
          schema:
            type: string
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - writemeasurements
  /v3/shares/invite:
    post:
      tags:
        - shares
      summary: Delete share
      description: Invite someone to view your measurements
      operationId: inviteShare
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
      requestBody:
        description: Details about person to share with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareInvitationBody'
        required: true
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - writemeasurements
      x-codegen-request-body-name: body
  /v3/studies:
    get:
      tags:
        - studies
      summary: Get Personal or Population Studies
      description: 'If you have enough data, this will be a list of your personal studies, otherwise it will consist of aggregated population studies.'
      operationId: getStudies
      parameters:
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/includeChartsParam'
        - $ref: '#/components/parameters/recalculate'
        - $ref: '#/components/parameters/studyClientIdParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/correlationCoefficientParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/outcomesOfInterestParam'
        - $ref: '#/components/parameters/principalInvestigatorUserIdParam'
        - $ref: '#/components/parameters/openParam'
        - $ref: '#/components/parameters/joinedParam'
        - $ref: '#/components/parameters/createdParam'
        - $ref: '#/components/parameters/aggregatedParam'
        - $ref: '#/components/parameters/downVotedParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/studies/open:
    get:
      tags:
        - studies
      summary: These are open studies that anyone can join
      description: These are studies that anyone can join and share their data for the predictor and outcome variables of interest.
      operationId: getOpenStudies
      parameters:
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/includeChartsParam'
        - $ref: '#/components/parameters/recalculate'
        - $ref: '#/components/parameters/studyClientIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/studies/joined:
    get:
      tags:
        - studies
      summary: Studies You Have Joined
      description: These are studies that you are currently sharing your data with.
      operationId: getStudiesJoined
      parameters:
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/correlationCoefficientParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/outcomesOfInterestParam'
        - $ref: '#/components/parameters/clientIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/studies/created:
    get:
      tags:
        - studies
      summary: Get studies you have created
      description: These are studies that you have created.
      operationId: getStudiesCreated
      parameters:
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/clientIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/study/publish:
    post:
      tags:
        - studies
      summary: Publish Your Study
      description: Make a study and all related measurements publicly visible by anyone
      operationId: publishStudy
      parameters:
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/includeChartsParam'
        - $ref: '#/components/parameters/recalculate'
        - $ref: '#/components/parameters/studyClientIdParam'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostStudyPublishResponse'
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/study/join:
    post:
      tags:
        - studies
      summary: Join a Study
      description: Anonymously share measurements for specified variables
      operationId: joinStudy
      parameters:
        - $ref: '#/components/parameters/studyClientIdParam'
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/clientIdParam'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyJoinResponse'
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/study/create:
    post:
      tags:
        - studies
      summary: Create a Study
      description: 'Create an individual, group, or population study examining the relationship between a predictor and outcome variable. You will be given a study id which you can invite participants to join and share their measurements for the specified variables.'
      operationId: createStudy
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
      requestBody:
        description: Details about the study you want to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyCreationBody'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostStudyCreateResponse'
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/trackingReminderNotifications:
    get:
      tags:
        - reminders
      summary: Get specific tracking reminder notifications
      description: Specific tracking reminder notification instances that still need to be tracked.
      operationId: getTrackingReminderNotifications
      parameters:
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/createdAtParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/variableCategoryNameParam'
        - $ref: '#/components/parameters/reminderTimeParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/onlyPastParam'
        - $ref: '#/components/parameters/includeDeletedParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingReminderNotificationsResponse'
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
    post:
      tags:
        - reminders
      summary: 'Snooze, skip, or track a tracking reminder notification'
      description: 'Snooze, skip, or track a tracking reminder notification'
      operationId: postTrackingReminderNotifications
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/clientIdParam'
      requestBody:
        description: Id of the tracking reminder notification to be snoozed
        content:
          application/json:
            schema:
              type: array
              description: Array of TrackingReminderNotifications to take action on
              items:
                $ref: '#/components/schemas/TrackingReminderNotificationPost'
        required: true
      responses:
        '201':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/trackingReminders:
    get:
      tags:
        - reminders
      summary: Get repeating tracking reminder settings
      description: Users can be reminded to track certain variables at a specified frequency with a default value.
      operationId: getTrackingReminders
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/variableCategoryNameParam'
        - $ref: '#/components/parameters/createdAtParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/appVersionParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrackingReminder'
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
    post:
      tags:
        - reminders
      summary: Store a Tracking Reminder
      description: This is to enable users to create reminders to track a variable with a default value at a specified frequency
      operationId: postTrackingReminders
      requestBody:
        description: TrackingReminder that should be stored
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TrackingReminder'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrackingRemindersResponse'
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/trackingReminders/delete:
    delete:
      tags:
        - reminders
      summary: Delete Tracking Reminder
      description: Stop getting notifications to record data for a variable.  Previously recorded measurements will be preserved.
      operationId: deleteTrackingReminder
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/unitCategories:
    get:
      tags:
        - units
      summary: Get unit categories
      description: 'Get a list of the categories of measurement units such as ''Distance'', ''Duration'', ''Energy'', ''Frequency'', ''Miscellany'', ''Pressure'', ''Proportion'', ''Rating'', ''Temperature'', ''Volume'', and ''Weight''.'
      operationId: getUnitCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitCategory'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/user:
    get:
      tags:
        - user
      summary: Get user info
      description: 'Returns user info.  If no userId is specified, returns info for currently authenticated user'
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/createdAtParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/appVersionParam'
        - $ref: '#/components/parameters/clientUserIdParam'
        - $ref: '#/components/parameters/log'
        - $ref: '#/components/parameters/pwd'
        - $ref: '#/components/parameters/includeAuthorizedClientsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
    post:
        tags:
            - user
        summary: Create or update user info
        description: 'Post user info.  If no userId is specified, posts info for currently authenticated user'
        operationId: postUser
        parameters:
            - $ref: '#/components/parameters/clientIdParam'
        requestBody:
          description: User info to update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          required: true
        responses:
          '201':
            description: Successful operation
          '401':
            description: Not found
        security:
            - bearerAuth: []
            - curedao_oauth2:
                - basic
        x-codegen-request-body-name: body
  /v3/users:
    get:
      tags:
        - user
      summary: Get users who shared data
      description: Returns users who have granted access to their data
      operationId: getUsers
      parameters:
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/createdAtParam'
        - $ref: '#/components/parameters/updatedAtParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/appVersionParam'
        - $ref: '#/components/parameters/clientUserIdParam'
        - $ref: '#/components/parameters/log'
        - $ref: '#/components/parameters/pwd'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/user/delete:
    delete:
      tags:
        - user
      summary: Delete user
      description: Delete user account. Only the client app that created a user can delete that user.
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
        - name: reason
          in: query
          description: 'Ex: I hate you!'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - writemeasurements
  /v3/userSettings:
    post:
      tags:
        - user
      summary: Post UserSettings
      description: Post UserSettings
      operationId: postUserSettings
      parameters:
        - $ref: '#/components/parameters/clientIdParam'
      requestBody:
        description: User settings to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUserSettingsResponse'
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      x-codegen-request-body-name: body
  /v3/userTags:
    post:
      tags:
        - variables
      summary: Post or update user tags or ingredients
      description: This endpoint allows users to tag foods with their ingredients.  This information will then be used to infer the user intake of the different ingredients by just entering the foods. The inferred intake levels will then be used to determine the effects of different nutrients on the user during analysis.
      operationId: postUserTags
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      requestBody:
        description: Contains the new user tag data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTag'
        required: true
      responses:
        '201':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/userTags/delete:
    delete:
      tags:
        - variables
      summary: Delete user tag or ingredient
      description: Delete previously created user tags or ingredients.
      operationId: deleteUserTag
      parameters:
        - $ref: '#/components/parameters/taggedVariableIdParam'
        - $ref: '#/components/parameters/tagVariableIdParam'
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/userVariables/delete:
    delete:
      tags:
        - variables
      summary: Delete All Measurements For Variable
      description: Users can delete all of their measurements for a variable
      operationId: deleteUserVariable
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          description: The received JSON was invalid or malformed
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Unknown target user ID
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/userVariables/reset:
    post:
      tags:
        - variables
      summary: Reset user settings for a variable to defaults
      description: Reset user settings for a variable to defaults
      operationId: resetUserVariableSettings
      requestBody:
        $ref: '#/components/requestBodies/variableIdBodyParam'
      responses:
        '201':
          description: Successful operation
          content: {}
        '400':
          description: The received JSON was invalid or malformed
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Unknown target user ID
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/variableCategories:
    get:
      tags:
        - variables
      summary: Variable categories
      description: 'The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Goals.'
      operationId: getVariableCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VariableCategory'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
  /v3/votes:
    post:
      tags:
        - studies
      summary: Post or update vote
      description: 'I am really good at finding user_variable_relationships and even compensating for various onset delays and durations of action. However, you are much better than me at knowing if there''s a way that a given factor could plausibly influence an outcome. You can help me learn and get better at my predictions by pressing the thumbs down button for relationships that you think are coincidences and thumbs up once that make logic sense.'
      operationId: postVote
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      requestBody:
        description: 'Contains the cause variable, effect variable, and vote value.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vote'
        required: true
      responses:
        '201':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/votes/delete:
    delete:
      tags:
        - studies
      summary: Delete vote
      description: Delete previously posted vote
      operationId: deleteVote
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v4/study:
    get:
      tags:
        - studies
      summary: Get Study
      description: Get Study
      operationId: getStudy
      parameters:
        - $ref: '#/components/parameters/causeVariableNameParam'
        - $ref: '#/components/parameters/effectVariableNameParam'
        - $ref: '#/components/parameters/userIdParam'
        - $ref: '#/components/parameters/clientIdParam'
        - $ref: '#/components/parameters/includeChartsParam'
        - $ref: '#/components/parameters/recalculate'
        - $ref: '#/components/parameters/studyClientIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Study'
        '401':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - bearerAuth: []
        - curedao_oauth2:
            - basic
components:
  schemas:
    AppSettings:
      type: object
      properties:
        additionalSettings:
          type: object
          properties: {}
        appDescription:
          type: string
        appDesign:
          type: object
          properties: {}
        appDisplayName:
          type: string
        appStatus:
          type: object
          properties: {}
        appType:
          type: string
        buildEnabled:
          type: string
        clientId:
          type: string
          description: 'Get yours at https:://builder.quantimo.do'
        clientSecret:
          type: string
          description: 'Get yours at https:://builder.quantimo.do'
        collaborators:
          type: array
          items:
            $ref: '#/components/schemas/User'
        createdAt:
          type: string
        userId:
          type: integer
          description: User id of the owner of the application
          format: int32
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        redirectUri:
          type: string
        companyName:
          type: string
        homepageUrl:
          type: string
        iconUrl:
          type: string
        longDescription:
          type: string
        splashScreen:
          type: string
        textLogo:
          type: string
    AppSettingsResponse:
      required:
        - description
        - summary
      type: object
      properties:
        appSettings:
          $ref: '#/components/schemas/AppSettings'
        description:
          type: string
          description: Can be used as body of help info popup
        summary:
          type: string
          description: Can be used as title in help info popup
        errors:
          type: array
          description: Array of error objects with message property
          items:
            $ref: '#/components/schemas/ErrorResponse'
        status:
          type: string
          description: ex. OK or ERROR
        success:
          type: boolean
          description: true or false
        code:
          type: number
          description: Response code such as 200
        link:
          type: string
          description: A super neat url you might want to share with your users!
        card:
          $ref: '#/components/schemas/Card'
    AuthorizedClients:
      required:
        - apps
        - individuals
        - studies
      type: object
      properties:
        apps:
          type: array
          description: Applications with access to user measurements for all variables
          items:
            $ref: '#/components/schemas/AppSettings'
        individuals:
          type: array
          description: Individuals such as physicians or family members with access to user measurements for all variables
          items:
            $ref: '#/components/schemas/AppSettings'
        studies:
          type: array
          description: Studies with access to generally anonymous user measurements for a specific predictor and outcome variable
          items:
            $ref: '#/components/schemas/AppSettings'
    Button:
      required:
        - link
        - text
      type: object
      properties:
        accessibilityText:
          type: string
          description: 'Ex: connect'
        action:
          type: object
          properties: {}
          description: Action data
        additionalInformation:
          type: string
          description: 'Ex: connect'
        color:
          type: string
          description: 'Ex: #f2f2f2'
        confirmationText:
          type: string
          description: Text to show user before executing functionName
        functionName:
          type: string
          description: Name of function to call
        parameters:
          type: object
          properties: {}
          description: Data to provide to functionName or be copied to the card parameters when button is clicked and card is posted to the API
        html:
          type: string
          description: 'Ex: connect'
        id:
          type: string
          description: HTML element id
        image:
          type: string
          description: 'Ex: https://image.jpg'
        ionIcon:
          type: string
          description: 'Ex: ion-refresh'
        link:
          type: string
          description: 'Ex: https://local.quantimo.do'
        stateName:
          type: string
          description: State to go to
        stateParams:
          type: object
          properties: {}
          description: Data to provide to the state
        successToastText:
          type: string
          description: Text to show user after executing functionName
        successAlertTitle:
          type: string
          description: Text to show user after executing functionName
        successAlertBody:
          type: string
          description: Text to show user after executing functionName
        text:
          type: string
          description: 'Ex: Connect'
        tooltip:
          type: string
          description: 'Ex: This is a tooltip'
        webhookUrl:
          type: string
          description: Post here on button click
    Card:
      required:
        - id
      type: object
      properties:
        actionSheetButtons:
          type: array
          items:
            $ref: '#/components/schemas/Button'
        avatar:
          type: string
          description: Smaller square image
        avatarCircular:
          type: string
          description: Smaller circular image
        backgroundColor:
          type: string
          description: 'Ex: #f2f2f2'
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/Button'
        buttonsSecondary:
          type: array
          items:
            $ref: '#/components/schemas/Button'
        content:
          type: string
          description: 'Ex: Content'
        headerTitle:
          type: string
          description: 'Ex: Title'
        html:
          type: string
          description: HTML for the entire card.
        htmlContent:
          type: string
          description: 'Ex: <div>Content</div>'
        id:
          type: string
          description: HTML element id
        image:
          type: string
          description: Larger image of variable dimensions
        inputFields:
          type: array
          items:
            $ref: '#/components/schemas/InputField'
        ionIcon:
          type: string
          description: 'Ex: ion-refresh'
        link:
          type: string
          description: A link to a web page or something. Not much more to say about that.
        parameters:
          type: object
          properties: {}
          description: 'Key value pairs derived from user input fields, button clicks, or preset defaults'
        selectedButton:
          $ref: '#/components/schemas/Button'
        sharingBody:
          type: string
          description: 'Ex: sharingBody'
        sharingButtons:
          type: array
          items:
            $ref: '#/components/schemas/Button'
        sharingTitle:
          type: string
          description: 'Ex: sharingTitle'
        subHeader:
          type: string
          description: 'Ex: subTitle'
        subTitle:
          type: string
          description: 'Ex: subTitle'
        title:
          type: string
          description: 'Ex: Title'
    Chart:
      type: object
      properties:
        highchartConfig:
          type: object
          properties: {}
          description: ' Highcharts config that can be used if you have highcharts.js included on the page'
        chartId:
          type: string
          description: 'Ex: correlationScatterPlot'
        chartTitle:
          type: string
          description: 'Ex: Overall Mood following Sleep Duration (R = -0.173)'
        explanation:
          type: string
          description: 'Ex: The chart above indicates that an increase in Sleep Duration is usually followed by a decrease in Overall Mood.'
        svgUrl:
          type: string
          description: Url to a static svg of the chart
        svg:
          type: string
          description: SVG string than can be embedded directly in HTML
    CommonResponse:
      required:
        - description
        - summary
      type: object
      properties:
        description:
          type: string
          description: Can be used as body of help info popup
        summary:
          type: string
          description: Can be used as title in help info popup
        errors:
          type: array
          description: Array of error objects with message property
          items:
            $ref: '#/components/schemas/ErrorResponse'
        status:
          type: string
          description: ex. OK or ERROR
        success:
          type: boolean
          description: true or false
        code:
          type: number
          description: Response code such as 200
        link:
          type: string
          description: A super neat url you might want to share with your users!
        card:
          $ref: '#/components/schemas/Card'
    ConnectInstructions:
      required:
        - url
      type: object
      properties:
        parameters:
          type: array
          description: Create a form with these fields and post the key and user submitted value to the provided connect url
          items:
            type: object
            properties: {}
        url:
          type: string
          description: URL to open to connect
        usePopup:
          type: boolean
          description: True if should open auth window in popup
    ConversionStep:
      required:
        - operation
        - value
      type: object
      properties:
        operation:
          type: string
          description: ADD or MULTIPLY
          enum:
            - ADD
            - MULTIPLY
        value:
          type: number
          description: This specifies the order of conversion steps starting with 0
          format: double
    HyperParameterCorrelation:
      required:
        - causeVariableName
        - effectVariableName
      type: object
      properties:
        averageDailyHighCause:
          type: number
          description: 'Ex: 4.19'
          format: double
        averageDailyLowCause:
          type: number
          description: 'Ex: 1.97'
          format: double
        averageEffect:
          type: number
          description: 'Ex: 3.0791054117396'
          format: double
        averageEffectFollowingHighCause:
          type: number
          description: 'Ex: 3.55'
          format: double
        averageEffectFollowingLowCause:
          type: number
          description: 'Ex: 2.65'
          format: double
        averageForwardPearsonCorrelationOverOnsetDelays:
          type: number
          description: 'Ex: 0.396'
          format: double
        averageReversePearsonCorrelationOverOnsetDelays:
          type: number
          description: 'Ex: 0.453667'
          format: double
        averageVote:
          type: number
          description: 'Ex: 0.9855'
        causeChanges:
          type: integer
          description: 'Ex: 164'
        causeDataSource:
          $ref: '#/components/schemas/DataSource'
        causeUserVariableShareUserMeasurements:
          type: integer
          description: 'Ex: 1'
        causeVariableCategoryId:
          type: integer
          description: 'Ex: 6'
        causeVariableCategoryName:
          type: string
          description: 'Ex: Sleep'
        causeVariableCombinationOperation:
          type: string
          description: 'Ex: MEAN'
        causeVariableUnitAbbreviatedName:
          type: string
          description: 'Ex: /5'
        causeVariableId:
          type: integer
          description: 'Ex: 1448'
        causeVariableMostCommonConnectorId:
          type: integer
          description: 'Ex: 6'
        causeVariableName:
          type: string
          description: 'Ex: Sleep Quality'
        confidenceInterval:
          type: number
          description: 'Ex: 0.14344467795996'
          format: double
        confidenceLevel:
          type: string
          description: 'Ex: high'
        correlationCoefficient:
          type: number
          description: 'Ex: 0.538'
          format: double
        correlationIsContradictoryToOptimalValues:
          type: boolean
          description: 'Ex: false'
        createdAt:
          type: string
          description: 'Ex: 2016-12-28 20:47:30 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        criticalTValue:
          type: number
          description: 'Calculated Statistic: Ex: 1.646'
          format: double
        direction:
          type: string
          description: 'Ex: higher'
        durationOfAction:
          type: integer
          description: 'User-Defined Variable Setting: The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.  Unit: Seconds'
        durationOfActionInHours:
          type: number
          description: 'User-Defined Variable Setting: The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.  Unit: Hours'
          format: float
        degreesOfFreedom:
          type: integer
          description: 'Ex: 200'
        effectNumberOfProcessedDailyMeasurements:
          type: integer
          description: 'Ex: 145'
        error:
          type: string
          description: 'Ex: optimalPearsonProduct is not defined'
        effectChanges:
          type: integer
          description: 'Ex: 193'
        effectDataSource:
          $ref: '#/components/schemas/DataSource'
        effectSize:
          type: string
          description: 'Ex: moderately positive'
        effectUnit:
          type: string
          description: 'Ex: /5'
        effectUserVariableShareUserMeasurements:
          type: integer
          description: 'Ex: 1'
        effectVariableCategoryId:
          type: integer
          description: 'Ex: 1'
        effectVariableCategoryName:
          type: string
          description: 'Ex: Emotions'
        effectVariableCombinationOperation:
          type: string
          description: 'Ex: MEAN'
        effectVariableCommonAlias:
          type: string
          description: 'Ex: Mood_(psychology)'
        effectVariableUnitAbbreviatedName:
          type: string
          description: 'Ex: /5'
        effectVariableUnitId:
          type: integer
          description: 'Ex: 10'
        effectVariableUnitName:
          type: string
          description: 'Ex: 1 to 5 Rating'
        effectVariableId:
          type: integer
          description: 'Ex: 1398'
        effectVariableMostCommonConnectorId:
          type: integer
          description: 'Ex: 10'
        effectVariableName:
          type: string
          description: 'Ex: Overall Mood'
        experimentEndTime:
          type: string
          description: 'Ex: 2014-07-30 12:50:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        experimentStartTime:
          type: string
          description: 'Ex: 2012-05-06 21:15:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        forwardSpearmanCorrelationCoefficient:
          type: number
          description: 'Ex: 0.528359'
          format: double
        numberOfPairs:
          type: integer
          description: 'Ex: 298'
        onsetDelay:
          type: integer
          description: 'Ex: 0'
        onsetDelayInHours:
          type: number
          description: 'Ex: 0'
          format: float
        onsetDelayWithStrongestPearsonCorrelation:
          type: integer
          description: 'Ex: -86400'
        onsetDelayWithStrongestPearsonCorrelationInHours:
          type: number
          description: 'Ex: -24'
          format: float
        optimalPearsonProduct:
          type: number
          description: 'Ex: 0.68582816186982'
          format: double
        outcomeFillingValue:
          type: integer
          description: 'User-Defined Variable Setting: Ex: -1. Unit: User-specified or common.'
        outcomeMaximumAllowedValue:
          type: number
          description: 'User-Defined Variable Setting: Ex: 23. Unit: User-specified or common.'
          format: double
        outcomeMinimumAllowedValue:
          type: number
          description: 'User-Defined Variable Setting: Ex: 0.1. Unit: User-specified or common.'
          format: double
        pearsonCorrelationWithNoOnsetDelay:
          type: number
          description: 'Ex: 0.477'
          format: double
        predictivePearsonCorrelation:
          type: number
          description: 'Ex: 0.538'
          format: double
        predictivePearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.538'
          format: double
        predictorDataSources:
          type: string
          description: 'Ex: RescueTime'
        predictorFillingValue:
          type: integer
          description: 'Ex: -1. Unit: User-specified or common.'
        predictorMaximumAllowedValue:
          type: number
          description: 'Ex: 200. Unit: User-specified or common.'
          format: double
        predictorMinimumAllowedValue:
          type: number
          description: 'Ex: 30. Unit: User-specified or common.'
          format: double
        predictsHighEffectChange:
          type: integer
          description: 'Ex: 17. Unit: User-specified or common.'
        predictsLowEffectChange:
          type: integer
          description: 'Ex: -11. Unit: User-specified or common.'
        pValue:
          type: number
          description: 'Ex: 0.39628900511586'
          format: double
        qmScore:
          type: number
          description: 'Ex: 0.528'
          format: double
        reversePearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.01377184270977'
          format: double
        shareUserMeasurements:
          type: boolean
          description: Would you like to make this study publicly visible?
        sharingDescription:
          type: string
          description: 'Ex: N1 Study: Sleep Quality Predicts Higher Overall Mood'
        sharingTitle:
          type: string
          description: 'Ex: N1 Study: Sleep Quality Predicts Higher Overall Mood'
        significantDifference:
          type: boolean
          description: 'Ex: 1'
        statisticalSignificance:
          type: number
          description: 'Ex: 0.9813'
          format: double
        strengthLevel:
          type: string
          description: 'Ex: moderate'
        strongestPearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.613'
          format: double
        studyHtml:
          $ref: '#/components/schemas/StudyHtml'
        studyImages:
          $ref: '#/components/schemas/StudyImages'
        studyLinks:
          $ref: '#/components/schemas/StudyLinks'
        studyText:
          $ref: '#/components/schemas/StudyText'
        tValue:
          type: number
          description: 'Ex: 9.6986079652717'
          format: double
        updatedAt:
          type: string
          description: 'Ex: 2017-05-06 15:40:38 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        userId:
          type: integer
          description: 'Ex: 230'
        userVote:
          type: integer
          description: 'Ex: 1'
        valuePredictingHighOutcome:
          type: number
          description: 'Ex: 4.14'
          format: double
        valuePredictingLowOutcome:
          type: number
          description: 'Ex: 3.03'
          format: double
        outcomeDataSources:
          type: string
          description: Sources used to collect data for the outcome variable
        principalInvestigator:
          type: string
          description: Mike Sinn
        reverseCorrelation:
          type: number
          description: 'User Variable Relationship when cause and effect are reversed. For any causal relationship, the forward correlation should exceed the reverse correlation.'
        averagePearsonCorrelationCoefficientOverOnsetDelays:
          type: number
          description: 'Ex: '
          format: float
        causeNumberOfRawMeasurements:
          type: integer
          description: 'Ex: 14764'
        numberOfUsers:
          type: number
          description: 'Ex: 1'
        rawCauseMeasurementSignificance:
          type: number
          description: 'Ex: 1'
          format: double
        rawEffectMeasurementSignificance:
          type: number
          description: 'Ex: 1'
          format: double
        reversePairsCount:
          type: string
          description: 'Ex: 1'
        voteStatisticalSignificance:
          type: integer
          description: 'Ex: 1'
        aggregateQMScore:
          type: number
          description: 'Ex: 0.011598441286655'
          format: double
        forwardPearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.0333'
          format: double
        numberOfCorrelations:
          type: integer
          description: 'Ex: 6'
        vote:
          type: number
          description: 'Ex: 1 or 0'
    Correlation:
      required:
        - causeVariableName
        - effectVariableName
      type: object
      properties:
        averageDailyHighCause:
          type: number
          description: 'Ex: 4.19'
          format: double
        averageDailyLowCause:
          type: number
          description: 'Ex: 1.97'
          format: double
        averageEffect:
          type: number
          description: 'Ex: 3.0791054117396'
          format: double
        averageEffectFollowingHighCause:
          type: number
          description: 'Ex: 3.55'
          format: double
        averageEffectFollowingLowCause:
          type: number
          description: 'Ex: 2.65'
          format: double
        averageForwardPearsonCorrelationOverOnsetDelays:
          type: number
          description: 'Ex: 0.396'
          format: double
        averageReversePearsonCorrelationOverOnsetDelays:
          type: number
          description: 'Ex: 0.453667'
          format: double
        averageVote:
          type: number
          description: 'Ex: 0.9855'
        causeChanges:
          type: integer
          description: 'Ex: 164'
        causeDataSource:
          $ref: '#/components/schemas/DataSource'
        causeUserVariableShareUserMeasurements:
          type: integer
          description: 'Ex: 1'
        causeVariableCategoryId:
          type: integer
          description: 'Ex: 6'
        causeVariableCategoryName:
          type: string
          description: 'Ex: Sleep'
        causeVariableCombinationOperation:
          type: string
          description: 'Ex: MEAN'
        causeVariableUnitAbbreviatedName:
          type: string
          description: 'Ex: /5'
        causeVariableId:
          type: integer
          description: 'Ex: 1448'
        causeVariableMostCommonConnectorId:
          type: integer
          description: 'Ex: 6'
        causeVariableName:
          type: string
          description: 'Ex: Sleep Quality'
        confidenceInterval:
          type: number
          description: 'Ex: 0.14344467795996'
          format: double
        confidenceLevel:
          type: string
          description: 'Ex: high'
        correlationCoefficient:
          type: number
          description: 'Ex: 0.538'
          format: double
        correlationIsContradictoryToOptimalValues:
          type: boolean
          description: 'Ex: false'
        createdAt:
          type: string
          description: 'Ex: 2016-12-28 20:47:30 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        criticalTValue:
          type: number
          description: 'Calculated Statistic: Ex: 1.646'
          format: double
        direction:
          type: string
          description: 'Ex: higher'
        durationOfAction:
          type: integer
          description: 'User-Defined Variable Setting: The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.  Unit: Seconds'
        durationOfActionInHours:
          type: number
          description: 'User-Defined Variable Setting: The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.  Unit: Hours'
          format: float
        degreesOfFreedom:
          type: integer
          description: 'Ex: 200'
        effectNumberOfProcessedDailyMeasurements:
          type: integer
          description: 'Ex: 145'
        error:
          type: string
          description: 'Ex: optimalPearsonProduct is not defined'
        effectChanges:
          type: integer
          description: 'Ex: 193'
        effectDataSource:
          $ref: '#/components/schemas/DataSource'
        effectSize:
          type: string
          description: 'Ex: moderately positive'
        effectUnit:
          type: string
          description: 'Ex: /5'
        effectUserVariableShareUserMeasurements:
          type: integer
          description: 'Ex: 1'
        effectVariableCategoryId:
          type: integer
          description: 'Ex: 1'
        effectVariableCategoryName:
          type: string
          description: 'Ex: Emotions'
        effectVariableCombinationOperation:
          type: string
          description: 'Ex: MEAN'
        effectVariableCommonAlias:
          type: string
          description: 'Ex: Mood_(psychology)'
        effectVariableUnitAbbreviatedName:
          type: string
          description: 'Ex: /5'
        effectVariableUnitId:
          type: integer
          description: 'Ex: 10'
        effectVariableUnitName:
          type: string
          description: 'Ex: 1 to 5 Rating'
        effectVariableId:
          type: integer
          description: 'Ex: 1398'
        effectVariableMostCommonConnectorId:
          type: integer
          description: 'Ex: 10'
        effectVariableName:
          type: string
          description: 'Ex: Overall Mood'
        experimentEndTime:
          type: string
          description: 'Ex: 2014-07-30 12:50:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        experimentStartTime:
          type: string
          description: 'Ex: 2012-05-06 21:15:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        forwardSpearmanCorrelationCoefficient:
          type: number
          description: 'Ex: 0.528359'
          format: double
        numberOfPairs:
          type: integer
          description: 'Ex: 298'
        onsetDelay:
          type: integer
          description: 'Ex: 0'
        onsetDelayInHours:
          type: number
          description: 'Ex: 0'
          format: float
        onsetDelayWithStrongestPearsonCorrelation:
          type: integer
          description: 'Ex: -86400'
        onsetDelayWithStrongestPearsonCorrelationInHours:
          type: number
          description: 'Ex: -24'
          format: float
        optimalPearsonProduct:
          type: number
          description: 'Ex: 0.68582816186982'
          format: double
        outcomeFillingValue:
          type: integer
          description: 'User-Defined Variable Setting: Ex: -1. Unit: User-specified or common.'
        outcomeMaximumAllowedValue:
          type: number
          description: 'User-Defined Variable Setting: Ex: 23. Unit: User-specified or common.'
          format: double
        outcomeMinimumAllowedValue:
          type: number
          description: 'User-Defined Variable Setting: Ex: 0.1. Unit: User-specified or common.'
          format: double
        pearsonCorrelationWithNoOnsetDelay:
          type: number
          description: 'Ex: 0.477'
          format: double
        predictivePearsonCorrelation:
          type: number
          description: 'Ex: 0.538'
          format: double
        predictivePearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.538'
          format: double
        predictorDataSources:
          type: string
          description: 'Ex: RescueTime'
        predictorFillingValue:
          type: integer
          description: 'Ex: -1. Unit: User-specified or common.'
        predictorMaximumAllowedValue:
          type: number
          description: 'Ex: 200. Unit: User-specified or common.'
          format: double
        predictorMinimumAllowedValue:
          type: number
          description: 'Ex: 30. Unit: User-specified or common.'
          format: double
        predictsHighEffectChange:
          type: integer
          description: 'Ex: 17. Unit: User-specified or common.'
        predictsLowEffectChange:
          type: integer
          description: 'Ex: -11. Unit: User-specified or common.'
        pValue:
          type: number
          description: 'Ex: 0.39628900511586'
          format: double
        qmScore:
          type: number
          description: 'Ex: 0.528'
          format: double
        reversePearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.01377184270977'
          format: double
        shareUserMeasurements:
          type: boolean
          description: Would you like to make this study publicly visible?
        sharingDescription:
          type: string
          description: 'Ex: N1 Study: Sleep Quality Predicts Higher Overall Mood'
        sharingTitle:
          type: string
          description: 'Ex: N1 Study: Sleep Quality Predicts Higher Overall Mood'
        significantDifference:
          type: boolean
          description: 'Ex: 1'
        statisticalSignificance:
          type: number
          description: 'Ex: 0.9813'
          format: double
        strengthLevel:
          type: string
          description: 'Ex: moderate'
        strongestPearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.613'
          format: double
        studyHtml:
          $ref: '#/components/schemas/StudyHtml'
        studyImages:
          $ref: '#/components/schemas/StudyImages'
        studyLinks:
          $ref: '#/components/schemas/StudyLinks'
        studyText:
          $ref: '#/components/schemas/StudyText'
        tValue:
          type: number
          description: 'Ex: 9.6986079652717'
          format: double
        updatedAt:
          type: string
          description: 'Ex: 2017-05-06 15:40:38 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        userId:
          type: integer
          description: 'Ex: 230'
        userVote:
          type: integer
          description: 'Ex: 1'
        valuePredictingHighOutcome:
          type: number
          description: 'Ex: 4.14'
          format: double
        valuePredictingLowOutcome:
          type: number
          description: 'Ex: 3.03'
          format: double
        outcomeDataSources:
          type: string
          description: Sources used to collect data for the outcome variable
        principalInvestigator:
          type: string
          description: Mike Sinn
        reverseCorrelation:
          type: number
          description: 'User Variable Relationship when cause and effect are reversed. For any causal relationship, the forward correlation should exceed the reverse correlation.'
        averagePearsonCorrelationCoefficientOverOnsetDelays:
          type: number
          description: 'Ex: '
          format: float
        causeNumberOfRawMeasurements:
          type: integer
          description: 'Ex: 14764'
        correlationsOverDurationsOfAction:
          type: array
          description: VariableRelationships calculated with various duration of action hyper-parameters
          items:
            $ref: '#/components/schemas/HyperParameterCorrelation'
        correlationsOverOnsetDelays:
          type: array
          description: VariableRelationships calculated with various onset delay hyper-parameters
          items:
            $ref: '#/components/schemas/HyperParameterCorrelation'
        correlationsOverDurationsOfActionChartConfig:
          type: object
          properties: {}
          description: Highchart config illustrating user_variable_relationships calculated with various duration of action hyper-parameters
        correlationsOverOnsetDelaysChartConfig:
          type: object
          properties: {}
          description: Highchart config illustrating user_variable_relationships calculated with various onset delay hyper-parameters
        numberOfUsers:
          type: number
          description: 'Ex: 1'
        rawCauseMeasurementSignificance:
          type: number
          description: 'Ex: 1'
          format: double
        rawEffectMeasurementSignificance:
          type: number
          description: 'Ex: 1'
          format: double
        reversePairsCount:
          type: string
          description: 'Ex: 1'
        voteStatisticalSignificance:
          type: integer
          description: 'Ex: 1'
        aggregateQMScore:
          type: number
          description: 'Ex: 0.011598441286655'
          format: double
        forwardPearsonCorrelationCoefficient:
          type: number
          description: 'Ex: 0.0333'
          format: double
        numberOfCorrelations:
          type: integer
          description: 'Ex: 6'
        vote:
          type: number
          description: 'Ex: 1 or 0'
    DataSource:
      required:
        - affiliate
        - connectorClientId
        - defaultVariableCategoryName
        - displayName
        - enabled
        - getItUrl
        - id
        - image
        - imageHtml
        - linkedDisplayNameHtml
        - longDescription
        - name
        - shortDescription
      type: object
      properties:
        affiliate:
          type: boolean
          description: 'Ex: true'
        backgroundColor:
          type: string
          description: Background color HEX code that matches the icon
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/Button'
        card:
          $ref: '#/components/schemas/Card'
        clientId:
          type: string
          description: 'Your client id can be obtained by creating an app at https://builder.quantimo.do'
        connected:
          type: boolean
          description: True if the authenticated user has this connector enabled
        connectError:
          type: string
          description: 'Ex: Your token is expired. Please re-connect'
        connectInstructions:
          $ref: '#/components/schemas/ConnectInstructions'
        connectorId:
          type: integer
          description: 'Ex: 8'
        connectStatus:
          type: string
          description: 'Ex: CONNECTED'
        count:
          type: integer
          description: Number of measurements from this source or number of users who have measurements from this source
        createdAt:
          type: string
          description: 'Ex: 2000-01-01 00:00:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        connectorClientId:
          type: string
          description: 'Ex: ba7d0c12432650e23b3ce924ae2d21e2ff59e7e4e28650759633700af7ed0a30'
        defaultVariableCategoryName:
          type: string
          description: 'Ex: Foods'
        displayName:
          type: string
          description: 'Ex: CureDAO'
        enabled:
          type: integer
          description: 'Ex: 0'
        getItUrl:
          type: string
          description: 'Ex: https://quantimo.do'
        id:
          type: integer
          description: 'Ex: 72'
        image:
          type: string
          description: 'Ex: https://app.quantimo.do/img/logos/curedao-logo-qm-rainbow-200-200.png'
        imageHtml:
          type: string
          description: 'Ex: <a href="https://quantimo.do"><img id="curedao_image" title="CureDAO" src="https://app.quantimo.do/img/logos/curedao-logo-qm-rainbow-200-200.png" alt="CureDAO"></a>'
        lastSuccessfulUpdatedAt:
          type: string
          description: 'Ex: 2017-07-31 10:10:34 UTC ISO 8601 YYYY-MM-DDThh:mm:ss'
        lastUpdate:
          type: integer
          description: Epoch timestamp of last sync
        linkedDisplayNameHtml:
          type: string
[...]
